eslint-disable{
@tailwind base;
@tailwind components;
@tailwind utilities;
}

/* globals.css */
.bio-card {
    background-image: url("/Images/HSimage1.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .skills-card {
    background-image: url("/Images/HSimage2.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .experience-card {
    background-image: url("/Images/HSimage3.jpeg");
    background-size: cover;
    background-position: center;
  }
